{% extends "dinkleberg/templates/index.html" %}
{% import "macros.html" as macro %}

{%- block seo %}
    
<link rel="apple-touch-icon" sizes="57x57" href="{{ get_url(path="/apple-icon-57x57.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ get_url(path="/apple-icon-60x60.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ get_url(path="/apple-icon-72x72.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ get_url(path="/apple-icon-76x76.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ get_url(path="/apple-icon-114x114.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ get_url(path="/apple-icon-120x120.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ get_url(path="/apple-icon-144x144.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ get_url(path="/apple-icon-152x152.png", trailing_slash=false) }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="/apple-icon-180x180.png", trailing_slash=false) }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ get_url(path="/android-icon-192x192.png", trailing_slash=false) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="/favicon-32x32.png", trailing_slash=false) }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path="/favicon-96x96.png", trailing_slash=false) }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="/favicon-16x16.png", trailing_slash=false) }}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" itemprop="about" content="{{config.description}}">
    <meta name="keywords" itemprop="keywords" content="{{config.extra.keywords}}">
    <meta itemprop="headline" content="{{config.title}}"/>
    {% if config.extra.educational_use -%}
        <meta itemprop="educationalUse" content="{{config.extra.educational_use}}" />
    {% endif %}

    {%- if config.extra.copyright_year -%}
        <meta itemprop="copyrightYear" content="{{config.extra.copyright_year}}" />
    {%- endif -%}

    {# Social Media #}
    <meta property="og:title" content="{{config.title}}{% block ogtitle %}{% endblock ogtitle %}">
    <meta property="og:description" content="{% block ogdesc %}{{config.description}}{% endblock ogdesc %}">
    <meta property="og:image" content="{% block ogimg %}{{config.extra.og_image}}{% endblock ogimg %}">
    <meta property="og:url" content="{% block ogurl %}{{config.base_url}}{% endblock ogurl%}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="{{config.extra.og_site_name}}">
    <meta name="twitter:image:alt" content="{% block ogaltimg %}{{config.extra.og_alt_image}}{% endblock ogaltimg %}">

    {% if config.extra.fb_app_id -%}
        <meta property="fb:app_id" content="{{config.extra.fb_app_id}}" />
    {% endif -%}

    {% if config.extra.twitter_username -%}
        <meta name="twitter:site" content="{{config.extra.twitter_username}}">
    {%- endif -%}
    <script src="https://apis.google.com/js/platform.js"></script>
    {% if config.extra.ganalytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{config.extra.ganalytics}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{config.extra.ganalytics}}');
    </script>
    {% endif %}

    {%- if config.extra.podcast_rss %}
    <link rel="alternate" type="application/rss+xml" title="CodeShow Cast - Podcast" href="{{ config.extra.podcast_rss | safe }}">
    {%- endif -%}

    <script data-ad-client="ca-pub-6039894454293774" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

{% endblock seo %}

{% block content -%}
    {% if config.extra.top_image %}
    <a href="{{config.extra.top_image.url | default(value='/') | safe}}" target="{{config.extra.top_image.target | default(value='_self') | safe}}">
        <img src="{{ resize_image(path=config.extra.top_image.path, width=config.extra.top_image.width, height=config.extra.top_image.height, op=config.extra.top_image.op) }}" style="max-width:100%;margin-bottom:20px;"/>
    </a>
    {% endif %}
    <main class="main">
        <h3>Cursos CodeShow</h3>
        {%- for page in paginator.pages -%}
            {{ macro::post(page=page) }}
        {%- endfor -%}
        {{ macro::post_nav(ref=paginator, extra=config.extra) }}
    </main>
{%- endblock content -%}
{%- block sidebar %}
    <aside class="sidebar">
        {%- for sidebar in config.extra.sidebar %}
            <h3>{{ sidebar.name }}</h3>
            <ul class="base-list">
                {%- for item in sidebar.urls %}
                    <li>
                        <a href="{{item.url}}" target="{{item.target}}">{{item.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        {%- endfor %}
    </aside>
{% endblock sidebar %}
